<header>
<div class="dropdown" style="float:right">
  <div class="btn-group">
  <button class="btn btn-default" type="button" >
    <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/III-icon.png" style="border:0;" ></a>
  </button>




{% if page.path != 'index.html' %}
<button class="btn btn-default" type="button" style="height:54px;">
<a href="http://github.com/{{site.gh.user}}/{{site.gh.repo}}/tree/{{site.gh.branch}}/{{page.path}}" target="_blank" title="Github Repository">
  <span class="octicon octicon-mark-github"></span></a>
</button>

<button class="btn btn-default" type="button" style="height:54px;">
<a href="http://github.com/{{site.gh.user}}/{{site.gh.repo}}/edit/{{site.gh.branch}}/{{page.path}}" target="_blank" title="Edit Markup">
  <span class="octicon octicon-pencil"></span></a>
</button>

<button class="btn btn-default" type="button" style="height:54px;" data-toggle="modal" data-target="#jsonModal">
<span class="octicon octicon-file-binary"></span>
</button>

{% else %}
<button class="btn btn-default" type="button" style="height:54px;">
<a href="http://github.com/{{site.gh.user}}/{{site.gh.repo}}/tree/{{site.gh.branch}}" target="_blank" title="Github Repository">
  <span class="octicon octicon-mark-github"></span></a>
</button>

<button class="btn btn-default" type="button" style="height:54px;">
<a href="http://github.com/{{site.gh.user}}/{{site.gh.repo}}/new/{{site.gh.branch}}" target="_blank" title="New Page"><span class="octicon octicon-plus"></span></a>
</button>

<button class="btn btn-default" type="button" style="height:54px;">
<a href="http://github.com/{{site.gh.user}}/{{site.gh.repo}}/issues" target="_blank" title="Project Questions"><span class="octicon octicon-question"></span></a>
</button>

<button class="btn btn-default" type="button" style="height:54px;">
<a href="http://github.com/{{site.gh.user}}/{{site.gh.repo}}/milestones" target="_blank" title="Goals"><span class="octicon octicon-calendar"></span></a>
</button>


{% endif %}


  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" style="height:54px;">
    <span class="octicon octicon-chevron-down"></span></span>
  </button>



  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    {% for pages in site.pages %}
    {% if pages.title %}
    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{site.baseurl}}{{pages.permalink}}">{{pages.title}}</a></li>
    {% endif %}
    {% endfor %}

  </ul>
</div>
</div>
</header>

{% include jsonmodal.html %}
