---
layout: post
author: tonyfast
tagline: >
    An Introduction to Spatial Statistics

title: >
    2. Spatial Statistics on Predictable Data
   
imgs:
- https://www.flickr.com/photos/tonyfast/15659916025/ #lamallae
- https://www.flickr.com/photos/tonyfast/15660785072/ #small checkboard
- https://www.flickr.com/photos/tonyfast/15474012607/ #smooth checker
- https://www.flickr.com/photos/tonyfast/15039346854/ #Synthetic structure
- https://www.flickr.com/photos/tonyfast/15474123047/ # 4. Synthetic stats
- https://www.flickr.com/photos/tonyfast/15474174357/ #cross correlation
- https://www.flickr.com/photos/tonyfast/15473565249/
---

## Overview of Tutorial #2

This post uses synthetic structures to understand the visualization of spatial statistics

We will focus on:

* Computing Larger Images
* The Effects of Periodicity and Shifting

All of the code outputs are from [``StatsVizTut.m``](#).

## A Lamellar Structure

The Lamellae structure is periodic in each dimension.

{% assign url = {{page.imgs[0]}} %}
{% include embedly.html url=url %}

## Checkboard

Create a checkerboard from the Lamellar pattern and computes it's spatial statistics.

{% assign url = {{page.imgs[1]}} %}
{% include embedly.html url=url %}

## Larger Checkboard

The statistics are smoother for a checkerboard image that has finer sampling.

{% assign url = {{page.imgs[2]}} %}
{% include embedly.html url=url %}

## Real-_ish_ Data

Compute the Autocorrelation on the Synthetic Heterogenous medium below 

{% assign url = {{page.imgs[3]}} %}
{% include embedly.html url=url %}

to compare periodicity and non-periodicity.

{% assign url = {{page.imgs[4]}} %}
{% include embedly.html url=url %}

## Cross-correlations on Synthetic Data

Compare periodicity and non-periodicity on the cross-correlation of synthetic data.

{% assign url = {{page.imgs[5]}} %}
{% include embedly.html url=url %}

## Shifting the Statistics

Shifting **DOESN'T** effect the statistics.  It simply rearranges the structure after the FFT.

The state of the convolution after the Fast Fourier Transform is an **UNSHIFTED** state of the statistics.
**SHIFTED** statistics are often easier to view; Shifting requires extra code.  Below is a comparison:

{% assign url = {{page.imgs[6]}} %}
{% include embedly.html url=url %}